{% extends 'base.html' %}

{% block content %}

<body>
  <div class="container p-4 mb-4 my-3">
    <label for="basic-url">SWE599 Graduation Project</label>
    <form action="" method="POST">
      {% csrf_token %}
      Amazon Product URL: <input type="text" name="Amazonurl" value= '{% if submitbutton == "Submit" %} {{ amazonurl }} {% endif %}'/><br><br>
      <input type="Submit" name="Submit" value="Submit"/>
    </form>
  
    {% if submitbutton == "Submit"  %} 
      <h3> Your URL is {{ amazonurl }} </h3>
      <h3> We collected top 1000 reviews for this product! </h3>
      <a class="btn btn-outline-dark" href="/analysis/commonwords" role="button">Click here to see the analysis!</a>
    {% endif %}
  </div>
</body>

{% endblock %}