{% extends 'base.html' %}

{% block content %}

<body>
    <div class="container p-3 mb-3 my-2">
        <h3> Total Average Sentiment Analysis Graph </h3>
        <img src='/analysis/sentimentgraph' class="card-img-top" alt="" height="500">
    </div>

    <div class="container">
        <h2 class="text-center"><u>POSITIVE TOP 5</u></h2><br>            
        <table class="table table-dark table-striped">
          <thead>
            <tr>
              <th>Title</th>
              <th>Review</th>
              <th>Date</th>
              <th>Verified</th>
              <th>Polarity Rating</th>
            </tr>
          </thead>
          <tbody>
          <!-- jinja2 Technique -->
          {% if p %}  
          {% for i in p %}
            <tr>
              <td>{{i.title}}</td>
              <td>{{i.content}}</td>
              <td>{{i.date}}</td>
              <td>{{i.verified}}</td>
              <td>{{i.avg_polarity}}</td>
            </tr>
          {% endfor %}
          {% endif %}
          </tbody>
        </table>
      </div>

      <div class="container">
        <h2 class="text-center"><u>NEGATIVE TOP 5</u></h2><br>            
        <table class="table table-dark table-striped">
          <thead>
            <tr>
                <th>Title</th>
                <th>Review</th>
                <th>Date</th>
                <th>Verified</th>
                <th>Polarity Rating</th>
              </tr>
            </thead>
            <tbody>
            <!-- jinja2 Technique -->
            {% if n %}  
            {% for i in n %}
              <tr>
                <td>{{i.title}}</td>
                <td>{{i.content}}</td>
                <td>{{i.date}}</td>
                <td>{{i.verified}}</td>
                <td>{{i.avg_polarity}}</td>
            </tr>
          {% endfor %}
          {% endif %}
          </tbody>
        </table>
      </div>

</body>

{% endblock %}