{% extends 'base.html' %}

{% block content %}
<style>
  h1 {
    text-align: center;
  }
</style>
<body>
  <div class="container p-4 mb-4 my-3">
    <h1>SWE599 Graduation Project</h1>
    <br>
    </br>
    Click here to see aand filter all reviews: 
    <a class="btn btn-outline-dark" href="/analysis/filter" role="button">All Reviews</a>
    <br>
    </br>
    <form action="" method="POST">
      {% csrf_token %}
      <h6>Go to Amazon.com and search for a product!</h6>
      <h6>Example URL: </h6>
      https://www.amazon.com/Apple-iPad-Air-10-9-inch-Wi-Fi-64GB/dp/B08J5WFP7B/ref=sr_1_3?dchild=1&keywords=ipad+10&qid=1624100392&sr=8-3
      <br>
      </br>
      Amazon Product URL: <input type="text" name="Amazonurl" value= '{% if submitbutton == "Submit" %} {{ amazonurl }} {% endif %}'/><br><br>
      <input type="Submit" name="Submit" value="Submit"/>
    </form>
  
    {% if submitbutton == "Submit"  %} 
      <h6> Your URL is {{ amazonurl }} </h6>
      <h3> We're collecting top 500 reviews for this product! Please wait for 5 minutes than click the links below: </h3>
      <a class="btn btn-outline-dark" href="/analysis/commonwords" role="button">Click here to see the most common 10 words!</a>
      <a class="btn btn-outline-dark" href="/analysis/cooccurance" role="button">Click here to see the cooccurance diagram!</a>
      <a class="btn btn-outline-dark" href="/analysis/sentimentall" role="button">Click here to see sentiment analysis!</a>
    {% endif %}
  </div>
</body>

{% endblock %}