{% extends 'base.html' %}

{% block content %}
<style>
  h1 {
    text-align: center;
  }
</style>
<body>
  <div class="container p-4 mb-4 my-3">
    <form action="" method="POST">
      {% csrf_token %}
      <h6>Go to Amazon.com and search for a product!</h6>
      <br>
      </br>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Choose one of the Amazon products: </label>
        </div>
        <select class="custom-select" id="inputGroupSelect01" name="item_id">
          <option selected>Choose</option>
            {% for entry in products %}
            <option value = '{{ entry.asin }}' >{{ entry.title }}</option>
            {% endfor %}     
        </select>
      </div>
      <input type="Submit" name="Submit" value="Submit"/>
    </form>
  
    {% if submitbutton == "Submit"  %}
      <br>
      <h3> Your product id {{ prod_id }} </h3>
      <a class="btn btn-outline-dark" href="/analysis/commonwords" role="button">Click here to see the most common 10 words!</a>
      <a class="btn btn-outline-dark" href="/analysis/cooccurance" role="button">Click here to see the cooccurance diagram!</a>
      <a class="btn btn-outline-dark" href="/analysis/sentimentall" role="button">Click here to see sentiment analysis!</a>
    {% endif %}
  </div>
</body>

{% endblock %}